Repository SeattleColleges/nsc-events-fullstack: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint --workspace=nsc-events-nestjs -- --fix, npm run lint --workspace=nsc-events-nextjs -- --fix

.lintstagedrc.json:

{
  "nsc-events-nestjs/**/*.{ts,js}": [
    "npm run lint --workspace=nsc-events-nestjs -- --fix"
  ],
  "nsc-events-nextjs/**/*.{ts,tsx,js,jsx}": [
    "npm run lint --workspace=nsc-events-nextjs -- --fix"
  ]
}

adding workflow for requesting changes moving status to "blocked"
  .github/workflows/project-status.yml
Due: none

Fix: Add error handling for JWT decoding in getCurrentUserId
  nsc-events-nextjs/utility/userUtils.ts
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

Fix: Add safe error handling for JWT decoding (#63)
  nsc-events-nextjs/utility/userUtils.ts
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

Workflow automation and IssueOps (#88)
  .github/workflows/auto-assign.yml
  .github/workflows/on-new-issue.yml
  .github/workflows/project-status.yml
Due: none

feat: enable cover photo upload during event creation (#80)
  nsc-events-nestjs/src/activity/controllers/activity/activity.controller.spec.ts
  nsc-events-nestjs/src/activity/controllers/activity/activity.controller.ts
  nsc-events-nestjs/src/activity/services/activity/activity.service.ts
  nsc-events-nestjs/src/activity/services/activity/s3.service.ts
  nsc-events-nextjs/app/create-event/page.tsx
  nsc-events-nextjs/hooks/useEventForm.tsx
  package-lock.json
Due: npm run lint --workspace=nsc-events-nestjs -- --fix, npm run lint --workspace=nsc-events-nextjs -- --fix

Complete full password reset - resolve test warnings - add EmailService mock, fix React keys, and update test data structure
  nsc-events-nestjs/.env.example
  nsc-events-nestjs/src/auth/auth.module.ts
  nsc-events-nestjs/src/auth/controllers/auth.controller.ts
  nsc-events-nestjs/src/auth/dto/reset-password.dto.ts
  nsc-events-nestjs/src/auth/services/auth.service.spec.ts
  nsc-events-nestjs/src/auth/services/auth.service.ts
  nsc-events-nestjs/src/email/email.module.ts
  nsc-events-nestjs/src/email/email.service.ts
  nsc-events-nestjs/src/user/entities/user.entity.ts
  nsc-events-nextjs/app/archived-events/page.tsx
  nsc-events-nextjs/app/auth/forgot-password/page.tsx
  nsc-events-nextjs/app/auth/reset-password/page.tsx
  nsc-events-nextjs/tests/unit/archivedEvents.test.tsx
Due: npm run lint --workspace=nsc-events-nestjs -- --fix, npm run lint --workspace=nsc-events-nextjs -- --fix

Implemented comprehensive test coverage with user retrival, updates, search functionalities, and error handling (#72)
  nsc-events-nestjs/src/user/services/user/user.service.spec.ts
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

Display eventContact instead of eventMeetingURL in archived events table (#74)
  nsc-events-nextjs/app/archived-events/page.tsx
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

project workflow fix
  .github/workflows/project-status.yml
Due: none

project workflow fix (#97)
  .github/workflows/project-status.yml
Due: none

implement hybrid Swagger/OpenAPI documentation and monorepo cleanup
  nsc-events-nestjs/nest-cli.json
  nsc-events-nestjs/package-lock.json
  nsc-events-nestjs/package.json
  nsc-events-nestjs/src/activity/controllers/activity/activity.controller.spec.ts
  nsc-events-nestjs/src/activity/controllers/activity/activity.controller.ts
  nsc-events-nestjs/src/activity/dto/create-activity.dto.ts
  nsc-events-nestjs/src/activity/entities/activity.entity.ts
  nsc-events-nestjs/src/activity/services/activity/activity.service.ts
  nsc-events-nestjs/src/activity/services/activity/s3.service.ts
  nsc-events-nestjs/src/auth/controllers/auth.controller.ts
  nsc-events-nestjs/src/auth/dto/change-password.dto.ts
  nsc-events-nestjs/src/auth/dto/forgot-password.dto.ts
  nsc-events-nestjs/src/auth/dto/login.dto.ts
  nsc-events-nestjs/src/auth/dto/signup.dto.ts
  nsc-events-nestjs/src/event-registration/controllers/event-registration.controller.ts
  nsc-events-nestjs/src/event-registration/dto/attend-event.dto.ts
  nsc-events-nestjs/src/event-registration/dto/create-event-registration.dto.ts
  nsc-events-nestjs/src/event-registration/services/event-registration.service.ts
  nsc-events-nestjs/src/main.ts
  nsc-events-nestjs/src/user/controllers/user/user.controller.ts
  nsc-events-nestjs/src/user/dto/update-user.dto.ts
  nsc-events-nextjs/package-lock.json
  package-lock.json
  package.json
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

default eventSocialMedia to empty object instead of null
  nsc-events-nestjs/src/activity/entities/activity.entity.ts
  nsc-events-nestjs/src/activity/services/activity/activity.service.ts
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

chore: update CI workflows and setup scripts for Swagger prep and root-level lockfile
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/on-pull-request.yml
  setup-macos-linux.sh
  setup-windows.bat
Due: none

Chore/ci and setup prep for swagger and root lockfile (#103)
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/on-pull-request.yml
  setup-macos-linux.sh
  setup-windows.bat
Due: none

chore: update frontend cin cache dependency path to root lockfile
  .github/workflows/frontend-ci.yml
Due: none

fix: update CI workflows to use root package-lock.json for npm workspaces
  .github/workflows/on-pull-request.yml
Due: none

Fix/ci workflows npm workspaces (#104)
  .github/workflows/frontend-ci.yml
  .github/workflows/on-pull-request.yml
Due: none

add comprehensive unit tests for ActivityService
  nsc-events-nestjs/src/activity/services/activity/activity.service.spec.ts
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

add additional testing for activity service
  nsc-events-nestjs/src/activity/services/activity/activity.service.spec.ts
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

nsc-events-fullstack_28_84_add-swagger-api-docs (#101)
  nsc-events-nestjs/nest-cli.json
  nsc-events-nestjs/package-lock.json
  nsc-events-nestjs/package.json
  nsc-events-nestjs/src/activity/controllers/activity/activity.controller.spec.ts
  nsc-events-nestjs/src/activity/controllers/activity/activity.controller.ts
  nsc-events-nestjs/src/activity/dto/create-activity.dto.ts
  nsc-events-nestjs/src/activity/entities/activity.entity.ts
  nsc-events-nestjs/src/activity/services/activity/activity.service.ts
  nsc-events-nestjs/src/activity/services/activity/s3.service.ts
  nsc-events-nestjs/src/auth/controllers/auth.controller.ts
  nsc-events-nestjs/src/auth/dto/change-password.dto.ts
  nsc-events-nestjs/src/auth/dto/forgot-password.dto.ts
  nsc-events-nestjs/src/auth/dto/login.dto.ts
  nsc-events-nestjs/src/auth/dto/signup.dto.ts
  nsc-events-nestjs/src/event-registration/controllers/event-registration.controller.ts
  nsc-events-nestjs/src/event-registration/dto/attend-event.dto.ts
  nsc-events-nestjs/src/event-registration/dto/create-event-registration.dto.ts
  nsc-events-nestjs/src/event-registration/services/event-registration.service.ts
  nsc-events-nestjs/src/main.ts
  nsc-events-nestjs/src/user/controllers/user/user.controller.ts
  nsc-events-nestjs/src/user/dto/update-user.dto.ts
  nsc-events-nextjs/package-lock.json
  package-lock.json
  package.json
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

implemented comprehensive full coverage unit test for useEventForm hook
  nsc-events-nextjs/tests/unit/useEventForm.test.tsx
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

add missing .env.example file on frontend & update .gitignore to exclude that (#87)
  nsc-events-nextjs/.env.example
  nsc-events-nextjs/.gitignore
Due: none

Fix test error assertions and add module cleanup
  nsc-events-nestjs/src/activity/services/activity/activity.service.spec.ts
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

Disable no-empty-function rule for console spy mock
  nsc-events-nestjs/src/activity/services/activity/activity.service.spec.ts
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

nsc-events-fullstack_25_51_activity-service-tests (#81)
  nsc-events-nestjs/src/activity/services/activity/activity.service.spec.ts
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

Fix: Add safe error handling for JWT decoding (#63) (#91)
  nsc-events-nextjs/utility/userUtils.ts
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

Complete full password reset - resolve test warnings - add EmailService mock, fix React keys, and update test data structure (#92)
  nsc-events-nestjs/.env.example
  nsc-events-nestjs/src/auth/auth.module.ts
  nsc-events-nestjs/src/auth/controllers/auth.controller.ts
  nsc-events-nestjs/src/auth/dto/reset-password.dto.ts
  nsc-events-nestjs/src/auth/services/auth.service.spec.ts
  nsc-events-nestjs/src/auth/services/auth.service.ts
  nsc-events-nestjs/src/email/email.module.ts
  nsc-events-nestjs/src/email/email.service.ts
  nsc-events-nestjs/src/user/entities/user.entity.ts
  nsc-events-nextjs/app/archived-events/page.tsx
  nsc-events-nextjs/app/auth/forgot-password/page.tsx
  nsc-events-nextjs/app/auth/reset-password/page.tsx
  nsc-events-nextjs/tests/unit/archivedEvents.test.tsx
Due: npm run lint --workspace=nsc-events-nestjs -- --fix, npm run lint --workspace=nsc-events-nextjs -- --fix

implemented comprehensive full coverage unit test for useEventForm hook (#106)
  nsc-events-nextjs/tests/unit/useEventForm.test.tsx
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

test: add comprehensive unit tests for validateFormData utility
  nsc-events-nestjs/src/activity/controllers/activity/activity.controller.spec.ts
  nsc-events-nextjs/tests/unit/validateFormData.test.tsx
Due: npm run lint --workspace=nsc-events-nestjs -- --fix, npm run lint --workspace=nsc-events-nextjs -- --fix

test: add comprehensive unit tests for EditDialog component
  nsc-events-nextjs/tests/unit/EditDialog.test.tsx
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

Implement comprehensive full coverage unit tests for S3Service
  nsc-events-nestjs/src/activity/services/activity/s3.service.spec.ts
  package-lock.json
  package.json
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

feat: add confirmation dialog for event unregister (#99)
  nsc-events-nextjs/app/profile/components/AttendedEvents.tsx
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

Implement complete archive/unarchive event flow with search and filters
  nsc-events-nestjs/src/activity/controllers/activity/activity.controller.spec.ts
  nsc-events-nestjs/src/activity/controllers/activity/activity.controller.ts
  nsc-events-nestjs/src/activity/services/activity/activity.service.spec.ts
  nsc-events-nestjs/src/activity/services/activity/activity.service.ts
  nsc-events-nextjs/app/archived-events/page.tsx
  nsc-events-nextjs/components/ArchiveDialog.tsx
  nsc-events-nextjs/tests/unit/archivedEvents.test.tsx
Due: npm run lint --workspace=nsc-events-nestjs -- --fix, npm run lint --workspace=nsc-events-nextjs -- --fix

fix: add whitespace trimming to form field validations
  nsc-events-nextjs/tests/unit/validateFormData.test.tsx
  nsc-events-nextjs/utility/validateFormData.tsx
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

fixed the operator precedence bug
  nsc-events-nextjs/utility/validateFormData.tsx
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

added whitespace validation
  nsc-events-nextjs/hooks/useEditForm.tsx
  nsc-events-nextjs/tests/unit/EditDialog.test.tsx
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

date and time validation done when creating events
  nsc-events-nextjs/app/create-event/page.tsx
  nsc-events-nextjs/hooks/useEventForm.tsx
  package-lock.json
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

time comparison needs to be fixed
  nsc-events-nextjs/hooks/useEventForm.tsx
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

Revise Git hooks setup instructions in HUSKY-UPDATE-HOOK.md
  HUSKY-UPDATE-HOOK.md
Due: none

Revise Git hooks setup instructions in HUSKY-UPDATE-HOOK.md (#121)
  HUSKY-UPDATE-HOOK.md
Due: none
