Repository SeattleColleges/nsc-events-fullstack: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint --workspace=nsc-events-nestjs -- --fix, npm run lint --workspace=nsc-events-nextjs -- --fix

.lintstagedrc.json:

{
  "nsc-events-nestjs/**/*.{ts,js}": [
    "npm run lint --workspace=nsc-events-nestjs -- --fix"
  ],
  "nsc-events-nextjs/**/*.{ts,tsx,js,jsx}": [
    "npm run lint --workspace=nsc-events-nextjs -- --fix"
  ]
}

test: add email service unit tests and apply lint fixes
  nsc-events-nestjs/src/activity/controllers/activity/activity.controller.spec.ts
  nsc-events-nestjs/src/email/email.service.spec.ts
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

Implement complete archive/unarchive event flow with search and filters (#117)
  nsc-events-nestjs/src/activity/controllers/activity/activity.controller.spec.ts
  nsc-events-nestjs/src/activity/controllers/activity/activity.controller.ts
  nsc-events-nestjs/src/activity/services/activity/activity.service.spec.ts
  nsc-events-nestjs/src/activity/services/activity/activity.service.ts
  nsc-events-nextjs/app/archived-events/page.tsx
  nsc-events-nextjs/components/ArchiveDialog.tsx
  nsc-events-nextjs/tests/unit/archivedEvents.test.tsx
Due: npm run lint --workspace=nsc-events-nestjs -- --fix, npm run lint --workspace=nsc-events-nextjs -- --fix

test: add comprehensive unit tests for validateFormData utility (#107)
  nsc-events-nextjs/tests/unit/validateFormData.test.tsx
  nsc-events-nextjs/utility/validateFormData.tsx
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

Implement comprehensive full coverage unit tests for S3Service (#110)
  nsc-events-nestjs/src/activity/services/activity/s3.service.spec.ts
  package-lock.json
  package.json
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

test: Add comprehensive unit tests for EditDialog component (#116)
  nsc-events-nextjs/hooks/useEditForm.tsx
  nsc-events-nextjs/tests/unit/EditDialog.test.tsx
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

feat: add comprehensive unit tests and improve error handling for useAuth hook
  nsc-events-nextjs/hooks/useAuth.tsx
  nsc-events-nextjs/tests/unit/useAuth.test.tsx
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

Resolve package.json conflict and reapply stashed changes
  .gitignore
  package-lock.json
  package.json
Due: none

Restore package-lock.json to correct version from commit 2a679584b4eecde337ae8bbc841782b055183e91
  package-lock.json
Due: none

Add E2E testing with Playwright
  .github/workflows/e2e-tests.yml
  README.md
  e2e/.env.example
  e2e/README.md
  e2e/data/test-data.ts
  e2e/fixtures/auth.ts
  e2e/tests/accessibility.spec.ts
  e2e/tests/auth.spec.ts
  e2e/tests/event-management.spec.ts
  e2e/tests/event-registration.spec.ts
  e2e/tests/user-management.spec.ts
  e2e/tsconfig.json
  e2e/utils/api-client.ts
  e2e/utils/global-setup.ts
  e2e/utils/global-teardown.ts
  nsc-events-nextjs/components/ArchiveDialog.tsx
  nsc-events-nextjs/hooks/useEditForm.tsx
  nsc-events-nextjs/hooks/useEventForm.tsx
  package-lock.json
  playwright.config.ts
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

test: add email service unit tests and apply lint fixes (#123)
  nsc-events-nestjs/src/email/email.service.spec.ts
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

feat: add comprehensive unit tests and improve error handling for useAuth hook (#124)
  nsc-events-nextjs/hooks/useAuth.tsx
  nsc-events-nextjs/tests/unit/useAuth.test.tsx
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

Install sharp for Linux platform in backend CI
  .github/workflows/backend-ci.yml
Due: none

Rebuild sharp at monorepo root for Linux
  .github/workflows/backend-ci.yml
Due: none

Use npm rebuild for sharp platform fix
  .github/workflows/backend-ci.yml
Due: none

Upgrade Playwright from 1.42.1 to 1.57.0
  .github/workflows/backend-ci.yml
  .github/workflows/on-pull-request.yml
  package-lock.json
  package.json
Due: none

add missing sharp rebuild
  .github/workflows/backend-ci.yml
  .github/workflows/e2e-tests.yml
Due: none

ci: fix PR and e2e workflows for Sharp build
  .github/workflows/e2e-tests.yml
  .github/workflows/on-pull-request.yml
Due: none

fix: workflow e2e-test.yml - Changed PostgreSQL service: POSTGRES_DB: nsc_events_test → POSTGRES_DB: nsc_events && Replaced DATABASE_URL with individual env vars that the backend actually reads
  .github/workflows/e2e-tests.yml
Due: none

Fix: Added JWT_SECRET: e2e-test-jwt-secret-key to the environment variables in the Run E2E tests step of .github/workflows/e2e-tests.yml.
  .github/workflows/e2e-tests.yml
Due: none

add cache playwright browsers in e2e workflow
  .github/workflows/e2e-tests.yml
Due: none

fix: - Add /api suffix to PLAYWRIGHT_API_URL in workflow (fixes 404 errors) - Pass JWT_SECRET and other env vars to Playwright webServer process
  .github/workflows/e2e-tests.yml
  e2e/.env.example
  package-lock.json
Due: none

fix test fails and add date-fns
  .github/workflows/e2e-tests.yml
  e2e/tests/accessibility.spec.ts
  e2e/tests/auth.spec.ts
  e2e/tests/event-management.spec.ts
  e2e/tests/user-management.spec.ts
  nsc-events-nestjs/src/main.ts
  package-lock.json
  package.json
  playwright.config.ts
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

Fix E2E workflow: correctly build NestJS backend before tests
  .github/workflows/e2e-tests.yml
Due: none

resolve missing build:backend script in e2e workflow
  .github/workflows/e2e-tests.yml
Due: none

correct monorepo build steps for backend and frontend
  .github/workflows/e2e-tests.yml
Due: none

add playwright caching back
  .github/workflows/e2e-tests.yml
Due: none

test: add unit tests for dbFieldMapper and fix falsy id bug
  nsc-events-nextjs/tests/unit/dbFieldMapper.test.ts
  nsc-events-nextjs/utility/dbFieldMapper.ts
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

feat: add unregister confirmation dialog, fix HTTPS link, remove test files
  TEST.md
  nsc-events-nextjs/app/event-detail/page.tsx
  nsc-events-nextjs/components/Footer.tsx
  nsc-events-nextjs/components/RemoveTest.tsx
  test.localhook.md
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

test: add unit tests for dbFieldMapper and fix falsy id bug (#128)
  nsc-events-nextjs/tests/unit/dbFieldMapper.test.ts
  nsc-events-nextjs/utility/dbFieldMapper.ts
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

feat: add unregister confirmation dialog, update HTTPS link, and cleanup test files (#129)
  TEST.md
  nsc-events-nextjs/app/event-detail/page.tsx
  nsc-events-nextjs/components/Footer.tsx
  nsc-events-nextjs/components/RemoveTest.tsx
  test.localhook.md
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

Fix start:prod script path to dist/src/main
  nsc-events-nestjs/package.json
Due: none

Fix: Add NEXT_PUBLIC_API_URL for E2E tests in CI
  .github/workflows/e2e-tests.yml
  nsc-events-nextjs/components/ArchiveDialog.tsx
  nsc-events-nextjs/hooks/useEditForm.tsx
  nsc-events-nextjs/hooks/useEventForm.tsx
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

refactor: ERD schema redesign for production readiness
  nsc-events-nestjs/src/activity/activity.module.ts
  nsc-events-nestjs/src/activity/controllers/activity/activity.controller.spec.ts
  nsc-events-nestjs/src/activity/controllers/activity/activity.controller.ts
  nsc-events-nestjs/src/activity/dto/create-activity.dto.ts
  nsc-events-nestjs/src/activity/dto/update-activity.dto.ts
  nsc-events-nestjs/src/activity/entities/activity.entity.ts
  nsc-events-nestjs/src/activity/services/activity/activity.service.spec.ts
  nsc-events-nestjs/src/activity/services/activity/activity.service.ts
  nsc-events-nestjs/src/activity/services/activity/s3.service.spec.ts
  nsc-events-nestjs/src/activity/services/activity/s3.service.ts
  nsc-events-nestjs/src/app.module.ts
  nsc-events-nestjs/src/auth/services/auth.service.spec.ts
  nsc-events-nestjs/src/event-registration/controllers/event-registration.controller.spec.ts
  nsc-events-nestjs/src/event-registration/controllers/event-registration.controller.ts
  nsc-events-nestjs/src/event-registration/dto/create-event-registration.dto.ts
  nsc-events-nestjs/src/event-registration/entities/event-registration.entity.ts
  nsc-events-nestjs/src/event-registration/services/event-registration.service.spec.ts
  nsc-events-nestjs/src/event-registration/services/event-registration.service.ts.tmp
  nsc-events-nestjs/src/media/dto/upload-media.dto.ts
  nsc-events-nestjs/src/media/entities/media.entity.ts
  nsc-events-nestjs/src/media/media.controller.ts
  nsc-events-nestjs/src/media/media.module.ts
  nsc-events-nestjs/src/media/media.service.ts
  nsc-events-nestjs/src/tag/dto/create-tag.dto.ts
  nsc-events-nestjs/src/tag/entities/tag.entity.ts
  nsc-events-nestjs/src/tag/tag.controller.ts
  nsc-events-nestjs/src/tag/tag.module.ts
  nsc-events-nestjs/src/tag/tag.service.ts
  nsc-events-nestjs/src/user/entities/user.entity.ts
  nsc-events-nestjs/test/mock-data/createMockActivity.ts
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

Add db dump file for schema and data population
  nsc-events-nestjs/db/nsc_events_db_export.sql
Due: none

chore: migrate backend to MySQL and dockerize application
  .dockerignore
  Dockerfile
  README.Docker.md
  compose.yaml
  mysql_migration_changes.md
  nsc-events-nestjs/package.json
  nsc-events-nestjs/src/activity/entities/activity.entity.ts
  nsc-events-nestjs/src/app.module.ts
  package-lock.json
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

Remove db dump file
  nsc-events-nestjs/db/nsc_events_db_export.sql
Due: none

add healthcheck to nestjs service
  compose.yaml
  nsc-events-nestjs/Dockerfile
  nsc-events-nestjs/src/app.module.ts
  nsc-events-nestjs/src/health/health.controller.ts
  package-lock.json
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

add unnittest for JWT auth guard
  nsc-events-nestjs/src/auth/guards/jwt-auth.guard.spec.ts
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

add unit test for RoleGuard
  nsc-events-nestjs/src/auth/role.guard.spec.ts
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

add unit test for logging sanitizer
  nsc-events-nestjs/src/utils/logging-sanitizer.spec.ts
Due: npm run lint --workspace=nsc-events-nestjs -- --fix
