Repository SeattleColleges/nsc-events-fullstack: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint --workspace=nsc-events-nestjs -- --fix, npm run lint --workspace=nsc-events-nextjs -- --fix

.lintstagedrc.json:

{
  "nsc-events-nestjs/**/*.{ts,js}": [
    "npm run lint --workspace=nsc-events-nestjs -- --fix"
  ],
  "nsc-events-nextjs/**/*.{ts,tsx,js,jsx}": [
    "npm run lint --workspace=nsc-events-nextjs -- --fix"
  ]
}

chore: remove test file after successful Husky setup verification
  test-husky-setup.js
Due: none

feature: Implement Husky git hook (#33)
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  package-lock.json
  package.json
Due: none

ci: disable husky in CI install steps
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
Due: none

Disable Husky during CI clean install
  .github/workflows/backend-ci.yml
Due: none

Disable Husky during CI clean install (#34)
  .github/workflows/backend-ci.yml
Due: none

Disable Husky during CI clean install
  .github/workflows/frontend-ci.yml
Due: none

Disable Husky during CI clean install (#35)
  .github/workflows/frontend-ci.yml
Due: none

Disable Husky during npm install in CI-on-pull-req
  .github/workflows/on-pull-request.yml
Due: none

Disable Husky during npm install in CI-on-pull-req (#36)
  .github/workflows/on-pull-request.yml
Due: none

Update prepare script to conditionally run husky
  package.json
Due: none

Update prepare script to conditionally run husky (#37)
  package.json
Due: none

Fix date error handling in create-event page
  nsc-events-nextjs/app/create-event/page.tsx
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

fix TS errors: replace eventDate with startDate
  nsc-events-nextjs/app/create-event/page.tsx
  nsc-events-nextjs/hooks/useEventForm.tsx
  nsc-events-nextjs/utility/validateFormData.tsx
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

nsc-events-fullstack_24_19_24_refactor-date-timezone-logic (#27)
  nsc-events-nestjs/custom-validators/is-after-start-date.ts
  nsc-events-nestjs/custom-validators/is-time.ts
  nsc-events-nestjs/src/activity/dto/create-activity.dto.ts
  nsc-events-nestjs/src/activity/dto/update-activity.dto.ts
  nsc-events-nestjs/src/activity/entities/activity.entity.ts
  nsc-events-nestjs/src/activity/services/activity/activity.service.ts
  nsc-events-nestjs/src/event-registration/controllers/event-registration.controller.ts
  nsc-events-nestjs/test/mock-data/createMockActivity.ts
  nsc-events-nestjs/test/mock-data/returned-mock-activity.ts
  nsc-events-nextjs/app/archived-events/page.tsx
  nsc-events-nextjs/app/create-event/page.tsx
  nsc-events-nextjs/app/event-detail/page.tsx
  nsc-events-nextjs/components/EditDialog.tsx
  nsc-events-nextjs/components/EventCard.tsx
  nsc-events-nextjs/components/HomeEventsCard.tsx
  nsc-events-nextjs/components/UpcomingEvent.tsx
  nsc-events-nextjs/hooks/useEditForm.tsx
  nsc-events-nextjs/hooks/useEventForm.tsx
  nsc-events-nextjs/models/activity.ts
  nsc-events-nextjs/models/activityAutofill.ts
  nsc-events-nextjs/models/activityDatabase.ts
  nsc-events-nextjs/utility/dateTimeUtils.ts
  nsc-events-nextjs/utility/dateUtils.ts
  nsc-events-nextjs/utility/validateFormData.tsx
Due: npm run lint --workspace=nsc-events-nestjs -- --fix, npm run lint --workspace=nsc-events-nextjs -- --fix

make husky hooks executable for all platforms
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.js
  .lintstagedrc.json
Due: none

test husky on windows
  nsc-events-nextjs/components/RemoveTest.tsx
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

fix error file to test pre-commit hook
  nsc-events-nextjs/components/RemoveTest.tsx
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

Husky config (#40)
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.js
  .lintstagedrc.json
  nsc-events-nextjs/components/RemoveTest.tsx
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

update files that were auto formatted during husky pre-commit run
  nsc-events-nestjs/src/activity/controllers/activity/activity.controller.ts
  nsc-events-nestjs/src/activity/dto/create-activity.dto.ts
  nsc-events-nestjs/src/activity/dto/update-activity.dto.ts
  nsc-events-nestjs/src/activity/entities/activity.entity.ts
  nsc-events-nestjs/src/event-registration/controllers/event-registration.controller.ts
  nsc-events-nestjs/src/event-registration/services/event-registration.service.spec.ts
  nsc-events-nestjs/test/mock-data/createMockActivity.ts
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

Adding husky autoformatted fix - Clean up (#41)
  nsc-events-nestjs/src/activity/controllers/activity/activity.controller.ts
  nsc-events-nestjs/src/activity/dto/create-activity.dto.ts
  nsc-events-nestjs/src/activity/dto/update-activity.dto.ts
  nsc-events-nestjs/src/activity/entities/activity.entity.ts
  nsc-events-nestjs/src/event-registration/controllers/event-registration.controller.ts
  nsc-events-nestjs/src/event-registration/services/event-registration.service.spec.ts
  nsc-events-nestjs/test/mock-data/createMockActivity.ts
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

fix: validate event date in create form
  nsc-events-nextjs/hooks/useEventForm.tsx
  nsc-events-nextjs/utility/validateFormData.tsx
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

fix: validate event date in create form (#42)
  nsc-events-nextjs/hooks/useEventForm.tsx
  nsc-events-nextjs/utility/validateFormData.tsx
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

add comprehensive unit tests for ActivityController
  nsc-events-nestjs/src/activity/controllers/activity/activity.controller.spec.ts
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

updated husky hook to install upon fresh clone, added documentation on how to initiate the hook on existing projct locally
  HUSKY-UPDATE-HOOK.md
  REMOVE.md
  package.json
  setup-macos-linux.sh
  setup-windows.bat
Due: none

updated husky hook to install upon fresh clone, added documentation on how to initiate the hook on existing projct locally (#44)
  HUSKY-UPDATE-HOOK.md
  REMOVE.md
  package.json
  setup-macos-linux.sh
  setup-windows.bat
Due: none

Remove unnecessary 'windows' label from script
  setup-windows.bat
Due: none

Remove unnecessary 'windows' label from script (#45)
  setup-windows.bat
Due: none

included pwsh prompt for husky hook
  HUSKY-UPDATE-HOOK.md
Due: none

included pwsh prompt for husky hook (#46)
  HUSKY-UPDATE-HOOK.md
Due: none

Enhance Git hooks setup with PowerShell fallback
  setup-windows.bat
Due: none

Enhance Git hooks setup with PowerShell fallback (#47)
  setup-windows.bat
Due: none

Add TypeScript declarations for image imports
  nsc-events-nextjs/types/images.d.ts
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

Add TypeScript declarations for image imports (#48)
  nsc-events-nextjs/types/images.d.ts
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

mock AuthGuard to suppress warning in unit tests
  nsc-events-nestjs/src/activity/controllers/activity/activity.controller.spec.ts
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

added comments
  nsc-events-nestjs/src/event-registration/services/event-registration.service.ts
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

add auth service unit test (#26)
  nsc-events-nestjs/src/auth/services/auth.service.spec.ts
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

nsc-events-fullstack_26_29_unregister-from-events (#30)
  nsc-events-nestjs/src/event-registration/controllers/event-registration.controller.ts
  nsc-events-nestjs/src/event-registration/services/event-registration.service.ts
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

nsc-events-fullstack_24_15_activity-controller-tests (#43)
  nsc-events-nestjs/src/activity/controllers/activity/activity.controller.spec.ts
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

added comprehensive contributing documentation
  CONTRIBUTING.md
Due: none

Added path exclusion patterns for root level documentations and config files
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/on-new-branch.yml
Due: none
