Repository SeattleColleges/nsc-events-fullstack: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint --workspace=nsc-events-nestjs -- --fix, npm run lint --workspace=nsc-events-nextjs -- --fix

update setup scripts
  compose.yaml
  package-lock.json
  setup-macos-linux.sh
  setup-windows.bat
Due: none

attempt to fix npm ci issue
  package-lock.json
Due: none

ghost dependencies 👻
  package-lock.json
Due: none

add unit test for loginWindow com
  nsc-events-nextjs/jest.setup.js
  nsc-events-nextjs/tests/unit/LoginWindow.test.tsx
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

attempt #1: fix failing e2e tests
  playwright.config.ts
Due: none

align postgres_password value with e2e
  playwright.config.ts
Due: none

replace env_file option with environment adding default expansion for nestjs, nextjs, and postgres services
  compose.yaml
Due: none

use docker compose for e2e tests instead of separate service containers
  .github/workflows/e2e-tests.yml
Due: none

increase playwright test timeout limit
  playwright.config.ts
Due: none

supply pgadmin fallback values for CLI
  compose.yaml
Due: none

Update auto-assign.yml
  .github/workflows/auto-assign.yml
Due: none

Update project-status.yml
  .github/workflows/project-status.yml
Due: none

Replace hardcoded color values with theme palette for dark mode consistency
  nsc-events-nextjs/app/create-event/page.tsx
  nsc-events-nextjs/app/event-detail/page.tsx
  nsc-events-nextjs/components/ArchiveDialog.tsx
  nsc-events-nextjs/components/AttendDialog.tsx
  nsc-events-nextjs/components/CoverPhotoDialog.tsx
  nsc-events-nextjs/components/EditDialog.tsx
  nsc-events-nextjs/components/LoginWindow.tsx
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

update container in dark mode for event detail
  nsc-events-nextjs/app/event-detail/page.tsx
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

add event seeding file for populating home page with test events
  package-lock.json
  package.json
  scripts/seed-events.js
Due: none

change name of seed script
  package.json
  scripts/events-seed.js
Due: none

Remove console logging of sensitive information
  nsc-events-nextjs/app/archived-events/page.tsx
  nsc-events-nextjs/app/auth/change-password/changePasswordApi.tsx
  nsc-events-nextjs/app/auth/change-password/page.tsx
  nsc-events-nextjs/app/auth/sign-in/page.tsx
  nsc-events-nextjs/app/auth/sign-up/signupApi.tsx
  nsc-events-nextjs/app/edit-user-role-page/components/EditUserRoleDialog.tsx
  nsc-events-nextjs/app/edit-user-role-page/page.tsx
  nsc-events-nextjs/app/event-detail/page.tsx
  nsc-events-nextjs/app/page.tsx
  nsc-events-nextjs/app/profile/components/AttendedEvents.tsx
  nsc-events-nextjs/app/profile/components/EditUserDetailsDialog.tsx
  nsc-events-nextjs/app/profile/page.tsx
  nsc-events-nextjs/components/ArchiveDialog.tsx
  nsc-events-nextjs/components/AttendDialog.tsx
  nsc-events-nextjs/components/CoverPhotoDialog.tsx
  nsc-events-nextjs/components/LoginWindow.tsx
  nsc-events-nextjs/hooks/useAuth.tsx
  nsc-events-nextjs/hooks/useEditForm.tsx
  nsc-events-nextjs/hooks/useEventForm.tsx
  nsc-events-nextjs/lib/db.ts
  nsc-events-nextjs/utility/userUtils.ts
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

add seed file for creator, admin, user accounts
  package.json
  scripts/users-seed.js
Due: none

patch update user profiles if already existing
  scripts/users-seed.js
Due: none

added: admin user to test files, test user removal afterAll test completed, global-teardown logic (fetch test user & event data for deletion)
  e2e/fixtures/auth.ts
  e2e/tests/event-management.spec.ts
  e2e/tests/event-registration.spec.ts
  e2e/tests/user-management.spec.ts
  e2e/utils/api-client.ts
  e2e/utils/global-teardown.ts
  playwright.config.ts
Due: none

add rate limiting on authentication and update weak jwt secret
  nsc-events-nestjs/.env.example
  nsc-events-nestjs/package.json
  nsc-events-nestjs/src/app.module.ts
  nsc-events-nestjs/src/auth/controllers/auth.controller.ts
  package-lock.json
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

configure ThrottlerModule in the test module
  nsc-events-nestjs/src/auth/controllers/auth.controller.spec.ts
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

update event registration endpoints
  nsc-events-nestjs/src/event-registration/controllers/event-registration.controller.ts
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

Delete package-lock.json
  package-lock.json
Due: none

Revert "Delete package-lock.json"
  package-lock.json
Due: none

disable swagger api doc in prod
  nsc-events-nestjs/src/main.ts
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

add helmet
  nsc-events-nestjs/package.json
  nsc-events-nestjs/src/main.ts
  package-lock.json
Due: npm run lint --workspace=nsc-events-nestjs -- --fix

removing some files
  nsc-events-nextjs/.env.example
  nsc-events-nextjs/.env.local.example
  supabase/snippets/Untitled query 790.sql
Due: none

stopped tracking migrations and snippets
  sql/0_create_update_updated_at_function.sql
  sql/1_create_users_table.sql
  sql/2_create_media_table.sql
  sql/3_create_tags_table.sql
  sql/4_create_activities_table.sql
  sql/5_create_event_registrations_table.sql
  sql/6_create_activity_tags_table.sql
  supabase/.gitignore
Due: none

Orchestration & App Image level healthchecks
  compose.yaml
  nsc-events-nestjs/Dockerfile
  nsc-events-nextjs/Dockerfile
  nsc-events-nextjs/app/api/health/route.ts
  package-lock.json
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

Health Check Dependency svg
  healthcheck-dependency.svg
Due: none

fix: update e2e global setup to match Docker dependency chain
  e2e/.env.example
  e2e/utils/global-setup.ts
  package.json
  playwright.config.ts
Due: none

Add Deterministic Global-Teardown
  e2e/utils/global-teardown.ts
  playwright.config.ts
Due: none

Simplify .env file creation message
  setup-macos-linux.sh
Due: none

Simplify .env file creation message
  setup-windows.bat
Due: none

Add database seed scripts and document seeding workflow (#194)
  README.md
  package.json
  scripts/users-seed.js
Due: none

changed local env variables and on delete constraint
  README.md
  nsc-events-nextjs/.env.local.example
  nsc-events-nextjs/lib/client.ts
  nsc-events-nextjs/lib/server.ts
  nsc-events-nextjs/lib/supabaseClient.ts
  sql/2_create_media_table.sql
  sql/4_create_activities_table.sql
  sql/5_create_event_registrations_table.sql
Due: npm run lint --workspace=nsc-events-nextjs -- --fix

added two rules for user
  .gitignore
  package-lock.json
  sql/1_create_users_table.sql
  supabase/migrations/20260309032010_create_update_updated_at_function.sql
  supabase/migrations/20260309032220_create_users_table.sql
  supabase/migrations/20260309034258_create_media_table.sql
  supabase/migrations/20260310014930_create_tags_table.sql
  supabase/migrations/20260310022009_create_activities_table.sql
  supabase/migrations/20260310031659_create_event_registrations_table.sql
  supabase/migrations/20260310035012_create_activity_tags_table.sql
  supabase/snippets/Untitled query 790.sql
Due: none

Path conditions:
  npm run lint --workspace=nsc-events-nestjs -- --fix: any of: nsc-events-nestjs/**/*.{ts,js}
  npm run lint --workspace=nsc-events-nextjs -- --fix: any of: nsc-events-nextjs/**/*.{ts,tsx,js,jsx}
